.nologin > a {
  height: 52px;
  padding: 0 28px 0 16px;
  position: relative;
  color: rgba(0,0,0,.54);

  span {
    font-size: 16px;
    color: rgba(0,0,0,.87);
    display: block;
    text-align: left;
  }
  em {
    font-style: normal;
    font-size: 14px;
    text-align: right;
  }
}
.nologin > a:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 9px;
  height: 9px;
  border-left: 1px solid currentColor;
  border-top: 1px solid currentColor;
  transform: translate3d(0,-50%,0) rotate(135deg);
}

.cart-list {
  background: #fff;

  .item {
    border-bottom: 1px solid #f6f6f6;
    line-height: 0;

    .ui-flex {
      padding: 12px 0;
    }
    .choose {
      -webkit-box-flex: 0;
      flex: none;
      width: 30px;
      padding: 0 4px;
      height: 90px;
    
      i {
        font-size: 24px;
        line-height: 90px;
        color: #ddd;
      }
    }
    .checked i {
      color: #f56600;
    }

    .imgProduct {
      -webkit-box-flex: 0;
      flex: none;
      display: block;
      position: relative;
      width: 90px;
      height: 90px;
      margin-right: 10px;
      border: 1px solid #eee;
      border-radius: 2px;

      img {
        width: auto;
        height: 100%;
      }
    }

    .info {
      text-align: left;

      .name {
        font-size: 14px;
        line-height: 16px;
        color: #666;
        margin-bottom: 6px;
        margin-right: 15px;
        display: -webkit-box;
        // display: box;
        display: flex;
        box-align: start;
        span {
          display: block;
        }
      }

      .price-without {
        padding: 6px 0;
        font-size: 12px;
        color: #999;
        margin-bottom: 6px;

        span {
          margin-right: 5px;
        }
      }

      .xm-input-number {
        display: inline-block;
        border: 1px solid #eee;

        .input-add, .input-sub {
          display: inline-block;
          width: 30px;
          height: 30px;
          position: relative;
          vertical-align: middle;
          background-color: #fafafa;
          text-align: center;
        }

        .input-add.active, .input-sub.active {
          background-color: #ddd;
        }
        .input-num {
          display: inline-block;
          vertical-align: middle;
          min-width: 30px;
          padding: 0 6px;
          text-align: center;
          font-size: 16px;
        }
      }

      .delete {
        float: right;
        margin-right: 10px;
        display: block;

        .icon-delete {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .append {
      .insurance {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          border: 1px solid #f6f6f6;
          padding: 7px 10px;
          border-radius: 2px;
          background: #f6f6f6;
          font-size: 12px;
          margin: 0 10px 10px;

          .i1 {
            margin-right: 6px;
            img {
              width: 25px;
              height: 25px;
            }
          }

          .i2 {
            -webkit-box-flex: 1;
            box-flex: 1;
            flex: 1;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding-right: 10px;

            span {
              -webkit-box-flex: 1;
              flex: 1;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              word-break: break-all;
              overflow: hidden;
              height: 25px;
              line-height: 25px;
              text-align: left;
            }
          }

          .i3 {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 38px;
            color: #ff5722;
          }
        }
    }
  }

  .point-box {
    background: #fff;

    .point {
      font-size: 11px;
      color: #999;
      border-top: 1px solid #f6f6f6;
      padding: 10px 15px;
      text-align: left;

      .act.act_gift {
        background: #5b77d6;
      }

      .act {
        border-radius: 2px;
        color: #fff;
        padding: 1px 3px;
        margin-right: 5px;
      }

      .act.act_special {
        background: #e53935;
      }
    }
  }
}

.icon-reduce3, .icon-add {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #857c7c;
}
.icon-icon-reduce3 {
  color: #bababa;
}



.noitems {
  background: #ebebeb;
  padding: 10px;
}
.noitems>a {
  height: 72px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;

  span {
    display: inline-block;
    line-height: 40px;
    background: url(../../assets/images/logo.png) no-repeat 0;
    background-size: auto 100%;
    padding: 0 8px 0 48px;
    color: rgba(0,0,0,.27);
  }

  em {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.15);
    box-sizing: border-box;
    height: 25px;
    line-height: 25px;
    padding: 0 12px;
    color: rgba(0,0,0,.87);
    font-style: normal;
  }
}


.bottom-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  box-shadow: 0 3px 14px 2px rgba(0,0,0,.12);

  .price-box {
    font-size: 13px;
    color: #999;
    width: 100%;
    text-align: center;
    padding-top: 7px;

    strong {
      font-size: 20px;
      color: #ff5722;
      margin-right: .2em;
    }
  }

  .btn {
    display: block;
    width: 100%;
  }
  .black {
    color: #333;
  }
  .disable {
    background: #f4f4f4;
    /* border: 1px solid #f4f4f4; */
  }
}

// MiPop
.pop {
  .h1 {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    text-align: center;
    padding: 12px 0;
  }

  .option-title {
    position: relative;
    padding-bottom: 8px;
    line-height: 12px;
    font-size: 12px;
    color: rgba(0,0,0,.87);
  }

  .service-url {
    display: inline-block;
    width: 14px;
    height: 14px;
    /* margin-left: 5px; */
    vertical-align: middle;

    i {
      font-size: 16px;
      left: 14px;
      color: #999;
    }
  }

  .options-group {
    padding-bottom: 16px;
  }
  .option-item {
    height: 36px;
    line-height: 36px;
    width: 49%;
    box-sizing: border-box;
    padding: 0 4px;
    text-align: center;
    margin: 8px 8px 0 0;
    font-size: 12px;
  }
  .option-item.on {
    color: #f56600;
  }
  .option-item.on:before {
    border-color: #f56600;
  }

  .btn-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .flex {
      padding-left: 16px;
      color: rgba(0,0,0,.54);
      font-size: 12px;
    }
    .btn{
      width: 50%;
      background-color: #f56600;
      color: #fff;
      font-size: 16px;
      line-height: 47px;
    }
  }
}
